<div class="main user-show">
  <div class="container">
    <h1 class="form-heading">マイページ</h1>
    <div class="form">
      <div class="form-body">
        <p><%= link_to("#{@user.family}家", "/users/#{@user.id}/edit") %></p>
        <p><%= link_to(@user.email, "/users/#{@user.id}/edit") %></p>
      </div>
    </div>
    
    <div class="form-heading">
      家族一覧
      <%= button_to 'ユーザー追加', { controller: 'firstnames', action: 'new' }, { method: :get,params: {id: @user.id} ,class: "btn btn-info"} %>
    </div>



    <div class="form">
      <div class="form-body">
        <% @firstnames.each do |firstname| %>
          <%= link_to(firstname.name, "/firstnames/#{firstname.id}/#{@user.id}/about") %>　 
        <% end %>
      </div>
    </div>
    <p>　</p>
    <li>
      <table>
        <tr>
          <td><%= button_to '<', { controller: 'application', action: 'month'}, { method: :get,params: {count: -1} ,class: "btn btn-info"} %></td>
          <td><%= session[:month].in_time_zone('Tokyo').strftime("%Y年%-m月") %></td>
          <td><%= button_to '>', { controller: 'application', action: 'month'}, { method: :get,params: {count: 1} ,class: "btn btn-info"} %></td>
          <td><%= button_to '今月', { controller: 'application', action: 'month'}, { method: :get,params: {count: "今月"} ,class: "btn btn-link"} %></td>
          <td><%= button_to '全期間', { controller: 'application', action: 'month'}, { method: :get,params: {count: "全期間"} ,class: "btn btn-success"} %></td>
        </tr>
      </table>
    </li>

    <div class="form">
        <div class="form-body">
        <%= bar_chart @graph, width: "500px", height: "500px" %>

        </div>
    </div>



  </div>   
</div>

