<div class="main posts-index">
  <div class="container">

  <h1>ユーザー</h1>
  <div class="posts-index-item">
  <% @firstnames.each do |firstname| %>
      <%if session[:firstname_id].to_i==firstname.id.to_i%>
        <%= link_to "/firstnames/#{firstname.id}/select",{method: "post"} do %>
          <div class="btn btn-primary">
            <p><%= firstname.name %></p>
          </div>
        <% end %>
      <%else%>      
        <%= link_to "/firstnames/#{firstname.id}/select",{method: "post"} do %>
          <div class="btn btn-secondary">
            <p><%= firstname.name %></p>
          </div>
        <% end %>
      <%end%>
    <% end %>
    </div>
    <p>　</p>


 

<table>
  <tr>
    <td><%= button_to '<', { controller: 'posts', action: 'index' }, { method: :get,params: {count: -1, day: @time} ,class: "btn btn-info"} %></td>
    <td><%= @time.in_time_zone('Tokyo').strftime("%Y年%-m月%-d日") %></td>
    <td><%= button_to '>', { controller: 'posts', action: 'index' }, { method: :get,params: {count: 1, day: @time} ,class: "btn btn-info"} %></td>
  </tr>
</table>





    

  <% @posts.each do |post| %>
      <div class="posts-index-item">
      <%= link_to(post.content,"/posts/#{post.id}") %>
      <p><%=post.point%>点</p>
        
        <%= link_to "/doit/#{post.id}/#{@time}/create",{method: "post"} do %>
          <div class="btn btn-info">
            <p>実行</p>
          </div>
        <% end %>
      
      <% post.doits.where('created_at >= ?', @time).where('created_at <= ?', @time+1).each do |names|%>
        <!-- できれば以下の行をクラスメソッドにしたい。しかエラーが出たので諦めた -->
        <%= link_to "/doit/#{names.id}/#{@time}/destroy",{method: "post"} do %>
          <div class="btn btn-success">
            <p><%= @firstname.find_by(id:names.firstname_id).name %></p>
          </div>
        <% end %>
      <%end%>  
      
      </div>
    <% end %>
  </div>










 
